.stats {
    font-family        : "Poiret One", "sans-cursive";
    /* background-color: var(--color-primary); */
    height             : fit-content;
    padding            : 0.5rem;
    width              : 60%;
    margin-left        : auto;
    color              : white;
    border-radius      : 0.5rem;
}

.stats__heading {
    margin-bottom: 1.5rem;
}

.stats__bonus {
    font-weight   : lighter;
    display       : grid;
    flex-direction: column;
    padding       : 1rem;
    gap           : 1rem;
}

.stats div {
    margin: 0;
}

.stats__imgBonus {
    box-shadow   : 0px 0px 2px var(--color-primary);
    width        : 72px;
    height       : 72px;
    border-radius: 50%;
    border       : solid rgba(255, 255, 255, 0.10) 1px;
}