.stats {
    font-family  : "Poiret One", "sans-cursive";
    height       : fit-content;
    padding      : 0.5rem;
    color        : white;
    border-radius: 0.52rem;
}

.stats__heading {
    margin-bottom: 1.5rem;
}

.stats__bonus {
    animation     : smooth 1.5s linear;
    font-weight   : lighter;
    display       : grid;
    flex-direction: column;
    padding       : 1rem;
    gap           : 1rem;
}

.stats div {
    margin: 0;
}

.stats__imgBonus {
    box-shadow   : 0px 0px 2px var(--color-primary);
    width        : 72px;
    height       : 72px;
    border-radius: 50%;
    border       : solid rgba(255, 255, 255, 0.10) 1px;
}

.bonus__container {
    transition: transform 0.5s;
}

.bonus__container:hover {
    transform: scale(1.1);
}