.welcom__tip {
    font-family     : "beaurivage";
    background-color: var(--color-secondary);
    color           : var(--color--primary);
    border-radius   : 1rem;
    padding         : 1rem;
    width           : fit-content;
    position        : absolute;
    top             : 40px;
    left            : 50%;
    transform       : translateX(-50%);
}

.welcom__tip span {
    position        : absolute;
    border-radius   : 1rem;
    top             : -10px;
    right           : 0;
    background-color: red;
    padding         : 2px 6px;
    transition      :  0.5s;
}

.welcom__tip span:hover {
    cursor   : pointer;
    transform: scale(1.1);
}